<!DOCTYPE html>
<html lang="en"  xmlns:th="https://thymeleaf.org">
<head th:fragment="layout::site-head">
    <title>Spring MVC </title>
</head>
<header th:replace="layout::logged-out">

</header>
<body>
<header th:fragment="lagout-out" th:remove="tag">
    <header>
        <a href="users/login.html" th:href="@{user/login}">Login</a>
        <a href="users/registration.html" th:href="@{user/registration}">Registration</a>
    </header>
</header>

<header th:fragment="logged-in" th:remove="tag">
    <header>
        <form method="post" th:action="@{user/logout}">
            <input type="submit" value="logout"/>
        </form>
    </header>
</header>
</body>
</html>